@{
    ViewBag.Title = "Values";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>
<h3>@ViewBag.One</h3>
<h3>@ViewBag.Two</h3>
<h3>@ViewBag.Three</h3>
<h3>@ViewBag.Four</h3>
<h3>@ViewBag.Five</h3>
<h3>@ViewBag.Six</h3>
<h3>@ViewBag.Sev</h3>
<h3>@ViewBag.Eight</h3>
<h3>@ViewBag.Nine</h3>




<p></p>
